@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-image: url('/background.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    width: 1512px;
    height: 982px;
    left: 0px;
    top: 0px; 
}
a[href] {
    color: black;
}

.box {
    border: #198564 2PX SOLID;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 27px;
    gap: 24px;

    position: absolute;
    width: 467px;
    height: 403px;
    left: 522px;
    top: 285px;
    background: #FFFFFF;
    box-shadow: 0px 7.8764px 9px rgba(164, 164, 164, 0.29);
    border-radius: 10px;

    .log{
        padding-bottom: 10px;
    }

    .login{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        width: 28rem;
        height:3rem;
        text-align: center;
        text-transform: capitalize;
        color: #03050B;
    }

    .content{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        width: 28rem;
        text-align: center;
        line-height: 23px;
        color: rgba(52, 52, 52, 0.7);
    }

    .tittle-form{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        width: 100%;
        line-height: 17px;
        text-transform: capitalize;
        color: #03050B;
    }

    .box-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 13px 21px;
        gap: 229px;
        width: 100%;
        height: 45px;
        background: #EFEFEF;
        border-radius: 7px;
    }

    .check{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #03050B;
    }

    .submit{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13.5px 22px;
        gap: 10px;
        width: 100%;
        height: 45px;
        background: #198564;
        border-radius: 7px;
        border-color: #198564;;
        cursor: pointer;
    }
    .klik-submit{
        margin-top: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }
}

.navbar{
    margin-top: 50px;
    background-color : blue;
    width: auto;

    .container {
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        text-decoration: none;
    }
    .nav-links {
        display: flex;
        margin-left: auto;
        list-style: none;

        a[href] {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;

            &.active{
                font-weight: 700;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 25px;
                    height: 2px;
                    background-color: black;
                }
            }

            &:hover {
                opacity: .5;
            }
        }
    }
}

//sidebar

.container-sidebar{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: #F6F6F9;
    width: 260px;
    // width: 87px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in .3s;
}

.sidebar .hide {
    width: 100px;
    transition: all ease-out .3s;
}

.main {
    flex-grow: 1;
}

.sidebar .description-header {
    width: 62px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: #A3A8AD;
}

.sidebar .hide .description-header {
    display: none;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .main .list-item .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #2D3657;
}

.sidebar .hide .main .list-item .description {
    display: none;
}

.sidebar .main .list-item .icon {
    margin-right: 12px;
}

.sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 13px;
    gap: 11px;
    // width: 234px;
    height: 44px;
    border-radius: 3px;
    flex: none;
    box-sizing: border-box;
}

.sidebar .main .list-item:hover {
    background: #198564;
    transition: all ease-in .2s;
}

// Toggle menu sidebar

#menu-button {
    width: 32px;
    position: absolute;
    overflow: hidden;
}

#menu-label {
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox {
    display: none;
}

#hamburger, #menu-label:after, #menu-label:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
}

#menu-label:after, #menu-label:before {
    content: "";
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) left;
}

#menu-label:before {
    top: 0;
}

#menu-label:after {
    top: 8px;
}

#hamburger {
    top: 16px;
}

//menu saat sidebar di hidden
#hamburger::before {
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #03050B;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label::before {
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after {
    left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakedown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
    0% {
        top: 0;
    }
    50% {
        top: -27px;
    }
    100% {
        top: -14px;
    }
}

@keyframes shakeUp {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakedown {
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(3deg);
    }
    90% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

.hero{
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        display: flex;
        align-items: center;
    }

    }
    .image-wrap{
        width: 50%;
        text-align: center;
    }

    .login { 
        width: 360px; 
        height: min-content; 
        padding: 20px; 
        border-radius: 12px; 
        background: #ffffff; 
    } 
     
    .login h1 { 
        font-size: 36px; 
        margin-bottom: 25px; 
    } 
     
    .login form { 
        font-size: 20px; 
    } 
     
    .login form .form-group { 
        margin-bottom: 12px; 
    } 
     
    .login form input[type="submit"] { 
        font-size: 20px; 
        margin-top: 15px; 
    }


.portfolio-wrapper {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;

    .portfolio-item{
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        .portfolio-image {
            max-width: 100%;
        }

        .portfolio-name {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-transform: capitalize;
        }

        .portfolio-category {
            color: gray;
        }
    }
}

.contact-links {
    padding: 0;
    padding-left: 15px;
    margin-top: -10px;
    list-style: square;

    .contact-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Responsive */

/* Phone xs */
@media (max-width : 575.98px) {
    
}

/* Phone sm */
@media (min-width : 575.98px) and (max-width : 767.98px) {
    body{
        border: #198564 solid 2px;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        background-image: url('/bghp.png');
        background-size: 100% 100%;
        background-attachment: fixed;
        position: absolute;
        width: 400px;
        height: 667px;
        left: 0px;
        top: 0px;
    }

    .box {
        border: #198564 2PX SOLID;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 21px 27px;
        gap: 20px;
    
        position: absolute;
        width: 339px;
        height: 400px;
        left: 18px;
        top: 133px;
        background: #FFFFFF;
        box-shadow: 0px 7.8764px 9px rgba(164, 164, 164, 0.29);
        border-radius: 10px;
    }

    .log{
        padding-bottom: 10px;
    }

    .login{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        width: 28rem;
        height:3rem;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        text-transform: capitalize;
        color: #03050B;
    }

    .content{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        width: 28rem;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(52, 52, 52, 0.7);
    }

    .tittle-form{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        line-height: 17px;
        text-transform: capitalize;
        color: #03050B;
    }

    .box-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 11.5px 21px;
        gap: 229px;
        width: 297px;
        height: 39px;
        background: #EFEFEF;
        border-radius: 7px;
    }

    .check{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #03050B;
    }

    .submit{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 22px;
        width: 297px;
        height: 41px;
        background: #198564;
        border-radius: 7px;
        border-color: #198564;;
        cursor: pointer;
    }
    .klik-submit{
        margin-top: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
    }

    
}

/* Tablet md */
@media (min-width : 767.98px) and (max-width : 991.98px) {
    body{
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        background-image: url('/bgtablet.png');
        background-size: 100% 100%;
        background-attachment: fixed;
        position: absolute;
        width: 990px;
        height: 1366px;
        left: 0px;
        top: 0px;
    }

    .box {
        border: #198564 2PX SOLID;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 25px 27px;
        gap: 24px;
    
        position: absolute;
        width: 467px;
        height: 394px;
        left: 279px;
        top: 479px;
        background: #FFFFFF;
        box-shadow: 0px 7.8764px 9px rgba(164, 164, 164, 0.29);
        border-radius: 10px;
    }
    
}

/* Laptop lg*/
@media (min-width : 991.98px) and (max-width : 1199.98px) {

    

}

/* Monitor xl */
@media (min-width : 1199.98px) and (max-width : 1399.98px) {

    
}

/* Monitor++ xxl */
@media (min-width : 1399.98px) and (max-width : 1599.98px) {

    

}

/* Monitor fhd */
@media (min-width : 1599.98px) {

    
}

/* Monitor 4k */
@media (min-width : 2559.98px) {
    .navbar{
        // margin-top: 50px;
        background-color : red;
    }

    
}




/* End responsive */